<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.warehouse.modules.mapper.MerchantMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="findPage" resultType="com.csg.warehouse.modules.entity.Merchant">
        select m.* from t_merchant m where m.deleted_ind = 0
        <if test="type != null and type > 0">
            and m.type = #{type}
        </if>
        <if test="queryValue != null and queryValue != ''">
            and ( upper(m.code) like concat('%', upper(#{queryValue}), '%')
            or upper(m.name) like concat('%', upper(#{queryValue}), '%')
            )
        </if>
    </select>

</mapper>
