<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.warehouse.modules.mapper.ProductMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="findPage" resultType="com.csg.warehouse.modules.entity.Product">
        select p.* from t_product p left join t_merchant m on p.supplier_id = m.id
        left join t_warehouse w on p.preferred_warehouse_id = w.id
        where p.deleted_ind = 0
        <if test="queryValue != null and queryValue != ''">
            and (upper(p.code) like concat('%', upper(#{queryValue}), '%')
            or upper(p.specification) like concat('%', upper(#{queryValue}), '%')
            or upper(p.parameter) like concat('%', upper(#{queryValue}), '%')
            or upper(p.remark) like concat('%', upper(#{queryValue}), '%')
            or upper(m.name) like concat('%', upper(#{queryValue}), '%')
            or upper(w.name) like concat('%', upper(#{queryValue}), '%')
            )
        </if>
        <if test="warehouseId != null and warehouseId > 0">
            and p.preferred_warehouse_id = #{warehouseId}
        </if>
    </select>
    <select id="findVoList" resultType="com.csg.warehouse.modules.vo.ProductVo">
        select
            p.*,
            m.name 'supplierName',
            c.name 'categoryName',
            w.name 'warehouseName',
            u.name 'unitName',
            pw.inventory,
            pw.min_inventory,
            pw.max_inventory
        from t_product p
            left join t_merchant m on m.id = p.supplier_id
            left join t_category c on c.id = p.category_id
            left join t_warehouse w on w.id = p.preferred_warehouse_id
            left join t_unit u on u.id = p.unit_id
            left join t_product_warehouse pw on pw.product_id = p.id
        where p.deleted_ind = 0

    </select>

    <select id="findWarningInventory" resultType="com.csg.warehouse.modules.vo.ProductVo">
        select
            p.*,
            pw.inventory,
            pw.min_inventory,
            pw.max_inventory
        from t_product_warehouse pw left join t_product p on pw.product_id = p.id
        where (pw.`inventory` >= pw.`max_inventory` and pw.`max_inventory` >= 0) ||
              (pw.inventory &lt;= pw.`min_inventory` and pw.`min_inventory` >= 0)
    </select>


</mapper>
