.app {
  height: 100%;
}

.app .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.app .trigger:hover {
  color: #1890ff;
}

.grid-wrapper h3{
  background: #EEEEEE;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.modal-form .ant-form-item {
    width: 100%;
}